@use '../_variables.scss' as *;

.filter{
  padding: 30px 0;
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  &__group{
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
    gap: 12px;
    &_choices{
      gap: 64px;
    }
  }
  &__radio {
    position: absolute;
    appearance: none;
  }
  &__label {
    padding: 24.5px 16px 24.5px 60px;
    border-radius: 300px;
    display: inline-block;
    cursor: pointer;
    background-color: $white;
    transition: background-color .2s ease-in-out;
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-position: center left 16px;
    cursor: pointer;
  }
  &__label:hover {
    background-color: $orange;
  }
  
  &__radio:focus +  &__label {
    outline: 2px solid $orange;
    outline-offset: 5px;
  }
  
  &__radio:checked + &__label {
    background-color: $light-orange;
    color: $white;
  }

  &__select {
    display: flex;
    align-items: center;
    gap: 8px;
    &::after{
      content: "";
      width: 8px;
      height: 8px;
      background: url(/img/arrow.svg) no-repeat center/contain;
    }
  }

  &__input-price {
  }

  &__type-list {
  }

  &__type-item {
  }

  &__type-btn {
  }
}


